[data-layout="standard"] {
  --layout-height: 32px;
  --logo-font-size: 14px;
  --btn-font-size: 16px;
}

[data-layout="slim"] {
  --layout-height: 16px;
  --logo-font-size: 12px;
  --btn-font-size: 12px;
}